
.hello{
  width:800px;
}

.tekst{
  font-size:30vh;
  font-family: 'Quicksand', sans-serif;
}

.tekst3{
  font-family: 'Montserrat', sans-serif;
  font-size:5vh;
}

.tekst2{
  font-family: 'Ubuntu', sans-serif;
  font-size:10vh;  
}
 
body{
    background-image: url(https://pp.userapi.com/c848632/v848632549/7bdcf/70H3T6HGgZU.jpg);
    background-size: 1vh 1vh;
   }
